body{
    font-family:'Tangerine', monospace;
    background-color:#808080;
}

h1{
    font-family:'Tangerine', monospace;
    border: solid black 4px;
    text-align: center;
}

h2{
    font-family:'Tangerine', monospace;
    color: purple;
}

input{
    font-family:'Tangerine', monospace;
    border: darkblue 5px solid;
}

#textblock{
    font-family:'Tangerine', monospace;
    border: solid gray 5px;
    width: 800px;
    height: 400px;
}

a{
    font-family:'Tangerine', monospace;
    color: red;
}